<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Product Page</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Prata&display=swap" rel="stylesheet">
  	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href = "/css/bootstrap-theme.css" rel="stylesheet">
  	<link rel="stylesheet" href="/css/styles.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon -->

	<script src="/js/Functions.js"></script>
	</script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>

	<script>
		function myFunction() {
			var x = document.getElementById("myLinks");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
	</script>
</head>


<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=520061528989020&autoLogAppEvents=1" nonce="X7EwrZTU"></script>
	<!-- Top Navigation Menu -->
		<div class="topnav">
		<a href="/" >Home</a>
			<!-- Navigation links (hidden by default) -->
			<div id="myLinks">
				<a href="/comparison" class="active">Compare Cars</a>

				<!--<a href="/login">Login</a>-->


			</div>
			<div class="fb-login-button" data-width="" data-size="small" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"></div>
			<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
		</div>

        <div class="jumbotron">
				<img src="images/Econaut.png" class ="logo">
            <h1>Compare Cars</h1>
            <p>Click any number of cars to see their details side-by-side!</p>
						<p>Click the car again to close its details.</p>
        </div>


<!--
		<img src="/images/BMW_Expanded_short.svg" class="test2" id="328i" alt="pic-here">
		<img src="/images/Prius_Expanded_short.svg" class="test2" id="prius" alt="pic-here">
		<img src="/images/Camry_Expanded.svg" class="test2" id="camry" alt="pic-here">
		<img src="/images/Jeep_Expanded.svg" class="test2" id="wrangler" alt="pic-here">
		<img src="/images/Tesla_expanded.svg" class="test2" id="model_s" alt="pic-here">
		<img src="/images/Civic_expanded.svg" class="test2" id="civic" alt="pic-here">-->


	<!-- This is the hidden content -->
	<div class="wrapper-hidden">


		{{#each BMW}}
		<div class = "car-tile-hidden" id={{id}}>
			<h2>{{year}} {{brand}} {{model}}</h3>

			<a href="https://www.google.com" class="testlink" >
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">

			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>

			</div>
		{{/each}}

		{{#each Toyota}}
		<div class = "car-tile-hidden" id={{id}}>
			<h3>{{year}} {{brand}} {{model}}</h3>

			<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">

			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Honda}}
			<div class = "car-tile-hidden" id={{id}}>
			<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Jeep}}
		<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Tesla}}
	<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Ford}}
			<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Nissan}}
			<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Mazda}}
			<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Subaru}}
			<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each GMC}}
			<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		{{#each Chevrolet}}
			<div class = "car-tile-hidden" id={{id}}>
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{identifier}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			<p> <b>Emission:</b> {{emission}} </p>
			<p> <b>MPG:</b> {{MPG}} </p>
			<p> <b>Fuel Cap: </b> {{fuelcap}} </p>
			<p><b> Score: </b>{{score}} </p>
			</div>
		{{/each}}

		</div>



	<hr>
		<!-- This is the SHOWN content -->

	<div class="wrapper">


		{{#each BMW}}
		<div class = "car-tile">
			<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink"  id={{id}}>
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">

			</a>
			</div>
		{{/each}}

		{{#each Toyota}}
		<div class = "car-tile">
			<h3>{{year}} {{brand}} {{model}}</h3>

			<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">

			</a>
			</div>
		{{/each}}

		{{#each Honda}}
		<div class = "car-tile">
			<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Jeep}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Tesla}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
			<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Ford}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Nissan}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Mazda}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Subaru}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each GMC}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		{{#each Chevrolet}}
		<div class = "car-tile">
				<h3>{{year}} {{brand}} {{model}}</h3>
		<a href="https://www.google.com" class="testlink" id="{{id}}">
				<img src="images/{{image}}" class="comparisonimg" id="{{identifier}}">
			</a>
			</div>
		{{/each}}

		</div>



	<!--
	<div class="jumbotron" style="margin-top: 1em;">
	<button type="button" class="btn btn-info">Comparison</button>
	</div>
	-->



</body>
</html>
